<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AplikasiSewaFutsal.My.MySettings.futsal2ConnectionString"
            connectionString="Data Source=RIKO\SQLEXPRESS;Initial Catalog=futsal2;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>